body{
	//background: url(../image/background.jpg);

	-webkit-background-size: cover;

	        background-size: cover;
	 	-webkit-transition: background 1s;
	 	-moz-transition: background 1s;
	 	transition: background 1s;

}
-webkit-tap-highlight-color:rgba(0,0,0,0);

[page-scroll-body]{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	min-height: 100%;
	//transition: top 1s;
}

@-webkit-keyframes app-sound-icon-frames
{
	0% {
		-webkit-transform: rotate(0);
		        transform: rotate(0);
	}

	100% {
		-webkit-transform: rotate(360deg);
		        transform: rotate(360deg);
	}
}

@-moz-keyframes app-sound-icon-frames
{
	0% {
		-moz-transform: rotate(0);
		     transform: rotate(0);
	}

	100% {
		-moz-transform: rotate(360deg);
		     transform: rotate(360deg);
	}
}

@keyframes app-sound-icon-frames
{
	0% {
		-webkit-transform: rotate(0);
		   -moz-transform: rotate(0);
		        transform: rotate(0);
	}

	100% {
		-webkit-transform: rotate(360deg);
		   -moz-transform: rotate(360deg);
		        transform: rotate(360deg);
	}
}

.app-sound-icon{
	background: url(../image/sound-off.png);
	-webkit-background-size: cover;
	        background-size: cover;
	width:2em;
	height:2em;
	position: absolute;
	top: 8em;
	right:1em;
	z-index: 999999;
	display: none;
}

@-webkit-keyframes banner-shining
{
	0% {
		opacity: 1;
	}

	50% {
		opacity: .5;
	}

	100% {
		opacity: 1;
	}
}

@-moz-keyframes banner-shining
{
	0% {
		opacity: 1;
	}

	50% {
		opacity: .5;
	}

	100% {
		opacity: 1;
	}
}

@keyframes banner-shining
{
	0% {
		opacity: 1;
	}

	50% {
		opacity: .5;
	}

	100% {
		opacity: 1;
	}
}

@-webkit-keyframes banner-shining-bg
{
	0% {
		background-color: #120c0e;
	}

	50% {
		background-color: #1f191b;
	}

	100% {
		background-color: #120c0e;
	}
}

@-moz-keyframes banner-shining-bg
{
	0% {
		background-color: #120c0e;
	}

	50% {
		background-color: #1f191b;
	}

	100% {
		background-color: #120c0e;
	}
}

@keyframes banner-shining-bg
{
	0% {
		background-color: #120c0e;
	}

	50% {
		background-color: #1f191b;
	}

	100% {
		background-color: #120c0e;
	}
}

@-webkit-keyframes touch-tiping
{
	0% {
		transform: translateY(-1em);
	}

	50% {
		transform: translateY(0em);
	}

	100% {
		transform: translateY(-1em);
	}
}

@-moz-keyframes touch-tiping
{
	0% {
		transform: translateY(-1em);
	}

	50% {
		transform: translateY(0em);
	}

	100% {
		transform: translateY(-1em);
	}
}

@keyframes touch-tiping
{
	0% {
		transform: translateY(-1em);
	}

	50% {
		transform: translateY(0em);
	}

	100% {
		transform: translateY(-1em);
	}
}


 .banner-section{
 	width: 100%;
 	height: 100%;
 	vertical-align: middle;
 	
 	position: absolute;
 	left: 0;
 	top: 0;
 }
 .banner-1{
 	width: 100%;
 	margin: auto;
 	position: absolute;
 	top:0;
 	bottom:0;

 	left:0;
 	opacity: 0;
 	-webkit-transition: opacity .5s;
 	-moz-transition: opacity .5s;
 	transition: opacity .5s;
 }
 .banner-2{
 	width: 100%;
 	margin: auto;
 	position: absolute;
 	top:0;
 	bottom:0;
 	left:0;
 	opacity: 0;
 	-webkit-transition: opacity 1s;
 	-moz-transition: opacity 1s;
 	transition: opacity 1s;
 }
 .banner-2-fadeOut{
 	opacity: 1;
 }
.touch-tip{
	position: absolute;
	left: 0;
	right: 0;
	width:2em;
	bottom: 1em;
	margin: 0 auto;
	animation: touch-tiping 1s infinite;
}
.scene{
	color: #FFF;
}
.scene-1{
	background: #252222;
	-webkit-transition: null;
	-moz-transition: null;
	transition: null;
}
.scene-2{
	background: #1b1b1b;
}

.scene-2-banner, .scene-2-people, .scene-2-smoke {
	width: 100%;

}
.scene-2-people {
	position: absolute;
	bottom: 0em;

}

.scene-2-banner {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}

.scene-2-smoke {
	position: absolute;
	bottom: 0;
}


.scene-2-shade{
	position: absolute;
	top: 0;
	height: 100%;
	width: 0;
}

.scene-2-shade-1{
	left: 0;

}
.scene-2-shade-2{
	right: 0;
	
}


.scene-3{
	
}
.scene-3-bg{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
}
.scene-3-poster{
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	opacity: 0;
}
.scene-3-light{
	position: absolute;
	top: -20%;
	height: 150%;
	opacity: .7;
	-webkit-transition: rotate 1s;
	-moz-transition: rotate 1s;
	transition: rotate 1s;
}

.scene-3-light-1{
	left: -50%;
	-webkit-transform-origin: 50% 0;
	   -moz-transform-origin: 50% 0;
	    -ms-transform-origin: 50% 0;
	        transform-origin: 50% 0;
	-webkit-transform: rotate(-90deg);
	   -moz-transform: rotate(-90deg);
	    -ms-transform: rotate(-90deg);
	        transform: rotate(-90deg);

}
.scene-3-light-2{
	right: -50%;

	-webkit-transform-origin: 50% 0;

	   -moz-transform-origin: 50% 0;

	    -ms-transform-origin: 50% 0;

	        transform-origin: 50% 0;
	-webkit-transform: rotate(90deg);
	   -moz-transform: rotate(90deg);
	    -ms-transform: rotate(90deg);
	        transform: rotate(90deg);
	
}

.scene-4{
	background: url(../image/background.jpg);
	-webkit-background-size: cover;
	        background-size: cover;
}

.scene-4-title{
	top: 10%;
	width: 100%;
	position: absolute;;
}
.scene-4-poster{
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
}
@-webkit-keyframes gogoboy-strong{
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
@-moz-keyframes gogoboy-strong{
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
@keyframes gogoboy-strong{
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
.scene-4-poster-s{
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	opacity: 0;
	-webkit-animation: gogoboy-strong 4s infinite;
	   -moz-animation: gogoboy-strong 4s infinite;
	        animation: gogoboy-strong 4s infinite;
}
.scene-5{
	background: url(../image/background.jpg);
	-webkit-background-size: cover;
	        background-size: cover;
}
.scene-5-poster{
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.scene-6{
	background: #413f3d;
}

@-webkit-keyframes scene-6-map-animate {
	0%{
		-webkit-transform: scale(2) rotateZ(80deg) translate3d(0em, 0em, -10em);
		        transform: scale(2) rotateZ(80deg) translate3d(0em, 0em, -10em);
	}
	40%{
		-webkit-transform: scale(.9) rotateZ(-1deg) translate3d(0em, 0em, -10em);
		        transform: scale(.9) rotateZ(-1deg) translate3d(0em, 0em, -10em);
	}
	45%{
		-webkit-transform: rotateZ(1deg) translate3d(0em, 0em, -10em);
		        transform: rotateZ(1deg) translate3d(0em, 0em, -10em);
	}
	50%{
		-webkit-transform: rotateZ(0deg) translate3d(0em, 0em, -10em);
		        transform: rotateZ(0deg) translate3d(0em, 0em, -10em);
	}

	55%{
		-webkit-transform: rotateZ(0deg) translate3d(0em, 0em, -10em);
		        transform: rotateZ(0deg) translate3d(0em, 0em, -10em);
	}

	60%{
		-webkit-transform: scale(.9)  rotateZ(0deg) translate3d(0, -1em, -10em);
		        transform: scale(.9)  rotateZ(0deg) translate3d(0, -1em, -10em);
	}

	70%{
		-webkit-transform: scale(1)  rotateZ(0) translate3d(0em, 0em, -10em);
		        transform: scale(1)  rotateZ(0) translate3d(0em, 0em, -10em);
	}

	75%{
		-webkit-transform: translate3d(0em, -1em, -10em);
		        transform: translate3d(0em, -1em, -10em);
	}

	82%{
		-webkit-transform: translate3d(0, 0em, -10em);
		        transform: translate3d(0, 0em, -10em);
	}

	85%{
		-webkit-transform: translate3d(0, 0em, -10em);
		        transform: translate3d(0, 0em, -10em);
	}
	98%{
		-webkit-transform: translate3d(0, 0em, -10em);
		        transform: translate3d(0, 0em, -10em);
	}

	95%{
		-webkit-transform: translate3d(0, 0em, -10em);
		        transform: translate3d(0, 0em, -10em);
	}

	100%{
		-webkit-transform: translate3d(0, 0em, -10em);
		        transform: translate3d(0, 0em, -10em);
	}
	

}

@-moz-keyframes scene-6-map-animate {
	0%{
		-moz-transform: scale(2) rotateZ(80deg) translate3d(0em, 0em, -10em);
		     transform: scale(2) rotateZ(80deg) translate3d(0em, 0em, -10em);
	}
	40%{
		-moz-transform: scale(.9) rotateZ(-1deg) translate3d(0em, 0em, -10em);
		     transform: scale(.9) rotateZ(-1deg) translate3d(0em, 0em, -10em);
	}
	45%{
		-moz-transform: rotateZ(1deg) translate3d(0em, 0em, -10em);
		     transform: rotateZ(1deg) translate3d(0em, 0em, -10em);
	}
	50%{
		-moz-transform: rotateZ(0deg) translate3d(0em, 0em, -10em);
		     transform: rotateZ(0deg) translate3d(0em, 0em, -10em);
	}

	55%{
		-moz-transform: rotateZ(0deg) translate3d(0em, 0em, -10em);
		     transform: rotateZ(0deg) translate3d(0em, 0em, -10em);
	}

	60%{
		-moz-transform: scale(.9)  rotateZ(0deg) translate3d(0, -1em, -10em);
		     transform: scale(.9)  rotateZ(0deg) translate3d(0, -1em, -10em);
	}

	70%{
		-moz-transform: scale(1)  rotateZ(0) translate3d(0em, 0em, -10em);
		     transform: scale(1)  rotateZ(0) translate3d(0em, 0em, -10em);
	}

	75%{
		-moz-transform: translate3d(0em, -1em, -10em);
		     transform: translate3d(0em, -1em, -10em);
	}

	82%{
		-moz-transform: translate3d(0, 0em, -10em);
		     transform: translate3d(0, 0em, -10em);
	}

	85%{
		-moz-transform: translate3d(0, 0em, -10em);
		     transform: translate3d(0, 0em, -10em);
	}
	98%{
		-moz-transform: translate3d(0, 0em, -10em);
		     transform: translate3d(0, 0em, -10em);
	}

	95%{
		-moz-transform: translate3d(0, 0em, -10em);
		     transform: translate3d(0, 0em, -10em);
	}

	100%{
		-moz-transform: translate3d(0, 0em, -10em);
		     transform: translate3d(0, 0em, -10em);
	}
	

}

@keyframes scene-6-map-animate {
	0%{
		-webkit-transform: scale(2) rotateZ(80deg) translate3d(0em, 0em, -10em);
		   -moz-transform: scale(2) rotateZ(80deg) translate3d(0em, 0em, -10em);
		        transform: scale(2) rotateZ(80deg) translate3d(0em, 0em, -10em);
	}
	40%{
		-webkit-transform: scale(.9) rotateZ(-1deg) translate3d(0em, 0em, -10em);
		   -moz-transform: scale(.9) rotateZ(-1deg) translate3d(0em, 0em, -10em);
		        transform: scale(.9) rotateZ(-1deg) translate3d(0em, 0em, -10em);
	}
	45%{
		-webkit-transform: rotateZ(1deg) translate3d(0em, 0em, -10em);
		   -moz-transform: rotateZ(1deg) translate3d(0em, 0em, -10em);
		        transform: rotateZ(1deg) translate3d(0em, 0em, -10em);
	}
	50%{
		-webkit-transform: rotateZ(0deg) translate3d(0em, 0em, -10em);
		   -moz-transform: rotateZ(0deg) translate3d(0em, 0em, -10em);
		        transform: rotateZ(0deg) translate3d(0em, 0em, -10em);
	}

	55%{
		-webkit-transform: rotateZ(0deg) translate3d(0em, 0em, -10em);
		   -moz-transform: rotateZ(0deg) translate3d(0em, 0em, -10em);
		        transform: rotateZ(0deg) translate3d(0em, 0em, -10em);
	}

	60%{
		-webkit-transform: scale(.9)  rotateZ(0deg) translate3d(0, -1em, -10em);
		   -moz-transform: scale(.9)  rotateZ(0deg) translate3d(0, -1em, -10em);
		        transform: scale(.9)  rotateZ(0deg) translate3d(0, -1em, -10em);
	}

	70%{
		-webkit-transform: scale(1)  rotateZ(0) translate3d(0em, 0em, -10em);
		   -moz-transform: scale(1)  rotateZ(0) translate3d(0em, 0em, -10em);
		        transform: scale(1)  rotateZ(0) translate3d(0em, 0em, -10em);
	}

	75%{
		-webkit-transform: translate3d(0em, -1em, -10em);
		   -moz-transform: translate3d(0em, -1em, -10em);
		        transform: translate3d(0em, -1em, -10em);
	}

	82%{
		-webkit-transform: translate3d(0, 0em, -10em);
		   -moz-transform: translate3d(0, 0em, -10em);
		        transform: translate3d(0, 0em, -10em);
	}

	85%{
		-webkit-transform: translate3d(0, 0em, -10em);
		   -moz-transform: translate3d(0, 0em, -10em);
		        transform: translate3d(0, 0em, -10em);
	}
	98%{
		-webkit-transform: translate3d(0, 0em, -10em);
		   -moz-transform: translate3d(0, 0em, -10em);
		        transform: translate3d(0, 0em, -10em);
	}

	95%{
		-webkit-transform: translate3d(0, 0em, -10em);
		   -moz-transform: translate3d(0, 0em, -10em);
		        transform: translate3d(0, 0em, -10em);
	}

	100%{
		-webkit-transform: translate3d(0, 0em, -10em);
		   -moz-transform: translate3d(0, 0em, -10em);
		        transform: translate3d(0, 0em, -10em);
	}
	

}

@-webkit-keyframes scene-6-point-animate {
	0%{
		-webkit-transform: rotateY(0deg) translateY(-2em);
		        transform: rotateY(0deg) translateY(-2em);
	}
	10%{
		-webkit-transform: rotateY(90deg) translate(0, -3em);
		        transform: rotateY(90deg) translate(0, -3em);
	}
	20%{
		-webkit-transform: rotateY(180deg) translate(0, -4em);
		        transform: rotateY(180deg) translate(0, -4em);
	}
	30%{
		-webkit-transform: rotateY(270deg) translate(0, -4em);
		        transform: rotateY(270deg) translate(0, -4em);
	}
	40%{
		-webkit-transform: rotateY(360deg) translateY(-4em);
		        transform: rotateY(360deg) translateY(-4em);
	}
	45%{
		-webkit-transform: scaleY(.9) translateY(-5em);
		        transform: scaleY(.9) translateY(-5em);
	}
	50%{
		-webkit-transform: scaleY(1) translateY(-4em);
		        transform: scaleY(1) translateY(-4em);
	}
	60%{
		-webkit-transform: translateY(1em);
		        transform: translateY(1em);
	}

	70%{
		-webkit-transform: translateY(0em);
		        transform: translateY(0em);
	}

	
	100%{
		-webkit-transform: translateY(0em);
		        transform: translateY(0em);

	}

}

@-moz-keyframes scene-6-point-animate {
	0%{
		-moz-transform: rotateY(0deg) translateY(-2em);
		     transform: rotateY(0deg) translateY(-2em);
	}
	10%{
		-moz-transform: rotateY(90deg) translate(0, -3em);
		     transform: rotateY(90deg) translate(0, -3em);
	}
	20%{
		-moz-transform: rotateY(180deg) translate(0, -4em);
		     transform: rotateY(180deg) translate(0, -4em);
	}
	30%{
		-moz-transform: rotateY(270deg) translate(0, -4em);
		     transform: rotateY(270deg) translate(0, -4em);
	}
	40%{
		-moz-transform: rotateY(360deg) translateY(-4em);
		     transform: rotateY(360deg) translateY(-4em);
	}
	45%{
		-moz-transform: scaleY(.9) translateY(-5em);
		     transform: scaleY(.9) translateY(-5em);
	}
	50%{
		-moz-transform: scaleY(1) translateY(-4em);
		     transform: scaleY(1) translateY(-4em);
	}
	60%{
		-moz-transform: translateY(1em);
		     transform: translateY(1em);
	}

	70%{
		-moz-transform: translateY(0em);
		     transform: translateY(0em);
	}

	
	100%{
		-moz-transform: translateY(0em);
		     transform: translateY(0em);

	}

}

@keyframes scene-6-point-animate {
	0%{
		-webkit-transform: rotateY(0deg) translateY(-2em);
		   -moz-transform: rotateY(0deg) translateY(-2em);
		        transform: rotateY(0deg) translateY(-2em);
	}
	10%{
		-webkit-transform: rotateY(90deg) translate(0, -3em);
		   -moz-transform: rotateY(90deg) translate(0, -3em);
		        transform: rotateY(90deg) translate(0, -3em);
	}
	20%{
		-webkit-transform: rotateY(180deg) translate(0, -4em);
		   -moz-transform: rotateY(180deg) translate(0, -4em);
		        transform: rotateY(180deg) translate(0, -4em);
	}
	30%{
		-webkit-transform: rotateY(270deg) translate(0, -4em);
		   -moz-transform: rotateY(270deg) translate(0, -4em);
		        transform: rotateY(270deg) translate(0, -4em);
	}
	40%{
		-webkit-transform: rotateY(360deg) translateY(-4em);
		   -moz-transform: rotateY(360deg) translateY(-4em);
		        transform: rotateY(360deg) translateY(-4em);
	}
	45%{
		-webkit-transform: scaleY(.9) translateY(-5em);
		   -moz-transform: scaleY(.9) translateY(-5em);
		        transform: scaleY(.9) translateY(-5em);
	}
	50%{
		-webkit-transform: scaleY(1) translateY(-4em);
		   -moz-transform: scaleY(1) translateY(-4em);
		        transform: scaleY(1) translateY(-4em);
	}
	60%{
		-webkit-transform: translateY(1em);
		   -moz-transform: translateY(1em);
		        transform: translateY(1em);
	}

	70%{
		-webkit-transform: translateY(0em);
		   -moz-transform: translateY(0em);
		        transform: translateY(0em);
	}

	
	100%{
		-webkit-transform: translateY(0em);
		   -moz-transform: translateY(0em);
		        transform: translateY(0em);

	}

}

@-webkit-keyframes scene-6-location-info-frames {
	0%{
		-webkit-transform:  translateY(0em);
		        transform:  translateY(0em);
		
	}

	40%{
		-webkit-transform:  translateY(2em);
		        transform:  translateY(2em);
	}

	80%{
		-webkit-transform:  translateY(-1em);
		        transform:  translateY(-1em);
	}
	
	100%{
		-webkit-transform: translateY(0em);
		        transform: translateY(0em);

	}
}

@-moz-keyframes scene-6-location-info-frames {
	0%{
		-moz-transform:  translateY(0em);
		     transform:  translateY(0em);
		
	}

	40%{
		-moz-transform:  translateY(2em);
		     transform:  translateY(2em);
	}

	80%{
		-moz-transform:  translateY(-1em);
		     transform:  translateY(-1em);
	}
	
	100%{
		-moz-transform: translateY(0em);
		     transform: translateY(0em);

	}
}

@keyframes scene-6-location-info-frames {
	0%{
		-webkit-transform:  translateY(0em);
		   -moz-transform:  translateY(0em);
		        transform:  translateY(0em);
		
	}

	40%{
		-webkit-transform:  translateY(2em);
		   -moz-transform:  translateY(2em);
		        transform:  translateY(2em);
	}

	80%{
		-webkit-transform:  translateY(-1em);
		   -moz-transform:  translateY(-1em);
		        transform:  translateY(-1em);
	}
	
	100%{
		-webkit-transform: translateY(0em);
		   -moz-transform: translateY(0em);
		        transform: translateY(0em);

	}
}

.scene-6-location{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
	-webkit-transform-style: preserve-3d;
	   -moz-transform-style: preserve-3d;
	        transform-style: preserve-3d;

}



.scene-6-map{
	width: 150%;
	margin-left: -25%;
	height: 100%;
	background: url(../image/scene-6-map.png) center 55%;
	-webkit-background-size: 190% 190%;
	        background-size: 190%;
	//background-size: 100% 100%;
	-webkit-transform: scale(2) rotateZ(80deg) translateZ(-10em);
	   -moz-transform: scale(2) rotateZ(80deg) translateZ(-10em);
	        transform: scale(2) rotateZ(80deg) translateZ(-10em);
	//perspective: 200em;
	//animation: scene-6-map-animate 6s linear forwards ;

}

.scene-6-point{
	width: 30%;
    position: absolute;
    top: 20%;
    right: 0;
    left: 0;
    margin: auto;
    opacity: 0;
    z-index: 20000;
    //perspective: 1em;
    -webkit-transform: translate3d(0, -2em,100em);
       -moz-transform: translate3d(0, -2em,100em);
            transform: translate3d(0, -2em,100em);
}

.scene-6-title{
	width: 100%;
	position: absolute;
	top: 5%;
	left: 0;
}



.scene-6-location-info{
	width: 100%;
	position: absolute;
	opacity: 0;
	top:50%;
	left: 0;
	text-align: center;
	z-index: 1;
}

.scene-6-location-img{
	width: 100%;

	z-index: 0;

}

.scene-6-location-more{
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 85%;
	width: 10em;
	opacity: 0;
	z-index: 1;
}

.scene-6-pics-wrap{
	position: absolute;
    left: 0;
    width: 100%;
    height: 16em;
    top: 45%;
    opacity: 0;
}


.scene-6-location-ret{
	position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 84%;
	width: 10em;
	opacity: 0;
}
.pics-wrap-btn-left{
	width: 4em;
	height:4em;
	background: url(../image/pics/btn-left.png);
	-webkit-background-size: cover;
	        background-size: cover;
	position: absolute;
	left: 8%;
    top: 6em;
    z-index:2;
}
.pics-wrap-btn-right{
	width: 4em;
	height:4em;
	background: url(../image/pics/btn-right.png);
	-webkit-background-size: cover;
	        background-size: cover;
	position: absolute;
	right: 8%;
    top: 6em;
    z-index:2;
}

.pics-list{
	position: relative;
	white-space:nowrap;
}
.pics-item{
	opacity: .7;
	width: 65%;
    margin: 0 auto;
    position: relative;
    left: 0;
    right: 0;
    z-index: 0;
}


.pics-list-text{
    text-align: center;
    position: relative;
}
.pics-item-text{
	display: none;
	height: 2em;
	margin: 0 auto;
	opacity: 0;

}
.pics-item-show{
	width: 28em;
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
}

.scene-ticket-1, .scene-ticket-2{
	overflow: hidden;
	background: url(../image/background.jpg);

}

.scene-title{
	position: absolute;
	top:10%;
	width: 100%;
}

.scene-ticket-body{
	position: absolute;;
	width:100%;
	top:20%;
}
.ticket-a{
	position: absolute;
    width: 22%;
    height: 3%;
}

.ticket-a-1{
	top: 43%;
    left: 14%;
}
.ticket-a-2{
	top: 43%;
    left: 64%;
}

.ticket-a-3{
	top: 79%;
    left: 14%;
}

.ticket-a-4{
	top: 79%;
    left: 64%;
}

.ticket-a-5{
	top: 38%;
    left: 65%;
}
.ticket-a-6{
	top: 68%;
    left: 65%;
}
.scene-8{
	background: url(../image/background.jpg);
}
.scene-8-banner{
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.scene-9{
	background: url(../image/background.jpg);
}
.scene-9-bg{
	width: 100%;
	position: absolute;
	top:0;
	left: 0;
}
.scene-9-left{
	width:48%;
	position: absolute;
	left: 0;
	top: 20%;


}
.scene-9-right{
	width:48%;
	position: absolute;
	right: 0;
	top: 20%;
	
}

.page-wrap{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	
	opacity: 0;
}
.page-horn-1{
	position: absolute;
	left: 1em;
	top: 1em;
	width: 6em;
	z-index: 9999999;
}
.page-horn-2{
	position: absolute;
	right: 1em;
	top: 1em;
	width: 5em;
	z-index: 9999999;
}
.page-horn-3{
	position: absolute;
	left: 1em;
	bottom: 1em;
	width: 6em;
	z-index: 9999999;
}
.page-horn-4{
	position: absolute;
	right: 1em;
	bottom: 1em;
	width: 6em;
	z-index: 9999999;
}

.scene-10{
	background: url(../image/background.jpg);
}
.scene-10 video {
	display: block;
	width: 100%;
    height: 100%;
    object-fit: cover;
}
.play-video-btn{
	position: absolute;
	width: 20%;
	top:0;
	left:0;
	right: 0;
	bottom: 0;
	margin: auto;
}